#btnl{
    padding: 10px;
    border-radius: 30px;
    background-color: lime;

}
#btnr{
    padding: 10px;
    border-radius: 30px;
    background-color: lime;
}
#btnr:hover{
    cursor: pointer;
}
#btnl:hover{
    cursor: pointer;
}
img{
    width: 958px;
    height: 578px;
}
.wrapper{
    margin-left: 100px;
    margin-right: 100px;
}